:root {
    --primary-color: #95A2BA;
    --secondary-color: #383D46;
    --background-color: #21252B;
}

* {
    margin: 0;
    padding: 0;
}

body {
    
   
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: var(--background-color);
    justify-items: center; 
}

#name {
    position: absolute;
    background-color: var(--secondary-color);
    width: fit-content;
    opacity: 0;
    border-radius: 5px;
    border: 3px solid var(--primary-color);
    padding: 0px 5px;
    font-size: 1.5rem;
    color: var(--primary-color); 
    z-index: 999;

}

#header {
    position: fixed;
    top: 2vh;  /* adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pageTitle {
    font-size: 2.2rem;
    color: var(--primary-color);
    text-align: center; /* to ensure text is centered if it wraps */
    z-index: 999;
}

#buttons {
    margin-top: 1vh;  /* adjust as needed */
    display: flex;
    gap: 1vw;
    justify-content: center; /* added to ensure the buttons themselves are centered */
    z-index: 999;
}

.selected {
    outline: 2px solid #fff;
}

.btn {
    font-size: 0.9rem;
    padding: 1vh 1vw;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
}

#chatBox {
    /*font-family: monospace;*/
    font-size: 1.1rem; 
    /*font-size: 2vw; /* for larger screens */
    position: fixed;
    bottom: 5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    height: 20vh;
    
    background-color: rgba(2, 1, 1, 0.5);
    border: 3px solid var(--primary-color);  
    color: var(--primary-color); 

    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    overflow: auto;
    z-index: 999;

    box-sizing: border-box;
}

@media (max-width: 1100px) {
    #chatBox {
        font-size: 1.1rem;
        width: 80vw; /* make it wider on smaller screens */
        height: 30vh; /* make it taller on smaller screens */
        /* ...any other styles you want to change for smaller screens */
    }
}
@media (max-width: 600px) {
    #chatBox {
        font-size: 1.1rem;
        width: 80vw; /* make it wider on smaller screens */
        height: 40vh; /* make it taller on smaller screens */
        /* ...any other styles you want to change for smaller screens */
    }
}



svg path {
    cursor: pointer;
}